body {
  background-color: lavender;
}
  
div{
  text-align:center;
  padding: 70px;
}
  
.btn-block {
  display: block;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-top: 30px;
}
  
label {
  cursor: default;
}
  
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
  
.btn-block2 {
  border: none;
  color: slateblue;
  padding: 7px 300px; 
  text-align: center;
  font-size: 40px;
}
  
body {
  background-color: lavender;
}
    
div{
  text-align:center;
  padding: 30px;
}
    
.btn-block {
  display: block;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-top: 30px;
}

a {
  text-decoration: none;
}
    
label {
  cursor: default;
}
    
h1 {
  color: navy;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

p {
  color: green;
  font-size: 20px;
}

.h1F {
  color: navy;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  font-weight: 700;
}

.h1M {
  color: purple;
}

h2 {
	color: DarkOrange;
	text-align: center;
	justify-content: center;
  font-style: italic;
}
    
.btn-block2 {
  border: none;
  color: slateblue;
  padding: 7px 300px; 
  text-align: center;
  font-size: 40px;
}

.btn-block3 {
  display: block;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-top: 30px;
  background-color: RebeccaPurple;
}
    
    